<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <copy>
        <from>
            <dir>sample\\from\\</dir>
            <file>sample.properties</file>
        </from>
        <to>
            <dir>sample\\to01\\</dir>
            <file>sample.properties</file>
            <convert>
                <from>returnPath=returnPath@example.jp</from>
                <to>returnPath=convert@example.jp</to>
            </convert>
            <convert>
                <from>textTemplate.encoding=UTF-8</from>
                <to>textTemplate.encoding=SJIS</to>
            </convert>
        </to>
        <to>
            <dir>sample\\to02\\</dir>
            <file>sampleB.properties</file>
        </to>
    </copy>
    <copy>
        <from>
            <dir>sample\\from\\</dir>
            <file>sample2.properties</file>
        </from>
        <to>
            <dir>sample\\to01\\</dir>
            <file>sample.properties</file>
            <convert>
                <from>returnPath=returnPath@example.jp</from>
                <to>returnPath=convert2@example.jp</to>
            </convert>
        </to>
    </copy>
</config>